# **EDA-2 Assignment:**

**Data Exploration and Preprocessing:**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:
#Load the dataset
data = pd.read_csv('adult_with_headers.csv')

In [ ]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
data.tail()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
#summary statistics
data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
data.shape

(32561, 15)

In [ ]:
#Check for null values
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [ ]:
#Check for duplicate values
data.duplicated().sum()

24

In [ ]:
#Drop duplicate vales
data=data.drop_duplicates()

In [ ]:
data.shape

(32537, 15)

In [ ]:
#Datatypes
data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

## **Apply Scaling Techniques to Numerical Features:**

In [ ]:
# Selecting numerical features
num_features = data.select_dtypes(include=['int64', 'float64']).columns

# Standard Scaling
scaler_standard = StandardScaler()
df_standard_scaled = data.copy()
df_standard_scaled[num_features] = scaler_standard.fit_transform(data[num_features])

# Min-Max Scaling
scaler_minmax = MinMaxScaler()
df_minmax_scaled = data.copy()
df_minmax_scaled[num_features] = scaler_minmax.fit_transform(data[num_features])

# Displaying scaled data
print("Standard Scaled Data:")
print(df_standard_scaled.head())
print("\nMin-Max Scaled Data:")
print(df_minmax_scaled.head())

Standard Scaled Data:
        age          workclass    fnlwgt   education  education_num  \
0  0.030390          State-gov -1.063569   Bachelors       1.134777
1  0.836973   Self-emp-not-inc -1.008668   Bachelors       1.134777
2 -0.042936            Private  0.245040     HS-grad      -0.420679
3  1.056950            Private  0.425752        11th      -1.198407
4 -0.776193            Private  1.408066   Bachelors       1.134777

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0      0.148292     -0.216743       -0.035664   United-States   <=50K
1     -0.145975     -0.216743       -2.222483   United-States   <=50K
2     -0.145975     -0.216743       -0.035664   United-States   <=50K
3     -0.145975     -0.216743       -0.035664   United-States   <=50K
4     -0.145975     -0.216743       -0.035664            Cuba   <=50K

Min-Max Scaled Data:
        age          workclass    fnlwgt   education  education_num  \
0  0.301370          State-gov  0.044302   Bachelors       0.800000
1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
2  0.287671            Private  0.138113     HS-grad       0.533333
3  0.493151            Private  0.151068        11th       0.400000
4  0.150685            Private  0.221488   Bachelors       0.800000

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0       0.02174           0.0        0.397959   United-States   <=50K
1       0.00000           0.0        0.122449   United-States   <=50K
2       0.00000           0.0        0.397959   United-States   <=50K
3       0.00000           0.0        0.397959   United-States   <=50K
4       0.00000           0.0        0.397959            Cuba   <=50K

Standard Scaling is preferred when you want to standardize features so that they have a mean of 0 and a standard deviation of 1, which can improve the performance of algorithms that assume normally distributed data   

Min-Max Scaling is useful when you need features to be within a specific range, especially when using algorithms like neural networks or K-Nearest Neighbors.

## **Encoding Techniques:**

**Apply One-Hot Encoding to categorical variables with less than 5 categories.**

In [ ]:
 # Selecting categorical features
cat_features = data.select_dtypes(include=['object']).columns

# Apply One-Hot Encoding to categorical variables with less than 5 categories
df_one_hot_encoded = pd.get_dummies(data, columns=[col for col in cat_features if data[col].nunique() < 5])

# Displaying the dataset after encoding
print(df_one_hot_encoded.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race  \
0        Never-married        Adm-clerical   Not-in-family   White
1   Married-civ-spouse     Exec-managerial         Husband   White
2             Divorced   Handlers-cleaners   Not-in-family   White
3   Married-civ-spouse   Handlers-cleaners         Husband   Black
4   Married-civ-spouse      Prof-specialty            Wife   Black

   capital_gain  capital_loss  hours_per_week  native_country  sex_ Female  \
0          2174             0              40   United-States            0
1             0             0              13   United-States            0
2             0             0              40   United-States            0
3             0             0              40   United-States            0
4             0             0              40            Cuba            1

   sex_ Male  income_ <=50K  income_ >50K
0          1              1             0
1          1              1             0
2          1              1             0
3          1              1             0
4          0              1             0

**Use Label Encoding for categorical variables with more than 5 categories.**

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Apply Label Encoding
label_encoders = {}
for col in [col for col in cat_features if data[col].nunique() >= 5]:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le

# Displaying the dataset after encoding
print(data.head())

   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship  race      sex  capital_gain  capital_loss  \
0           1             1     4     Male          2174             0
1           4             0     4     Male             0             0
2           6             1     4     Male             0             0
3           6             0     2     Male             0             0
4          10             5     2   Female             0             0

   hours_per_week  native_country  income
0              40              39   <=50K
1              13              39   <=50K
2              40              39   <=50K
3              40              39   <=50K
4              40               5   <=50K

<ipython-input-18-cf5be0aa728b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = le.fit_transform(data[col])
<ipython-input-18-cf5be0aa728b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = le.fit_transform(data[col])
<ipython-input-18-cf5be0aa728b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = le.fit_transform(data[col])
<ipython-input-18-cf5be0aa728b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = le.fit_transform(data[col])
<ipython-input-18-cf5be0aa728b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = le.fit_transform(data[col])
<ipython-input-18-cf5be0aa728b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = le.fit_transform(data[col])
<ipython-input-18-cf5be0aa728b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = le.fit_transform(data[col])

**One-Hot Encoding:** It avoids introducing an arbitrary ordinal relationship between categories, which is useful for algorithms like linear regression or tree-based models. However, it can increase the dimensionality of the data significantly.  
**Label Encoding:** Efficient in terms of memory and computation, but it introduces an ordinal relationship between categories, which might not be desirable for some algorithms.

## **Feature Engineering:**

**Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices**

In [ ]:
# Example: Creating a new feature 'age_bin' based on 'age'
data['age_bin'] = pd.cut(data['age'], bins=[0, 30, 50, 100], labels=['Young', 'Middle-aged', 'Old'])

# Example: Creating a new feature 'hours_per_week_bin' based on 'hours_per_week'
data['hours_per_week_bin'] = pd.cut(data['hours_per_week'], bins=[0, 20, 40, 60, 100], labels=['Part-time', 'Full-time', 'Overtime', 'Extensive'])

# Displaying the dataset with new features
print(data.head())

   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship  race      sex  capital_gain  capital_loss  \
0           1             1     4     Male          2174             0
1           4             0     4     Male             0             0
2           6             1     4     Male             0             0
3           6             0     2     Male             0             0
4          10             5     2   Female             0             0

   hours_per_week  native_country  income      age_bin hours_per_week_bin
0              40              39   <=50K  Middle-aged          Full-time
1              13              39   <=50K  Middle-aged          Part-time
2              40              39   <=50K  Middle-aged          Full-time
3              40              39   <=50K          Old          Full-time
4              40               5   <=50K        Young          Full-time

<ipython-input-19-a98b7f029cfc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['age_bin'] = pd.cut(data['age'], bins=[0, 30, 50, 100], labels=['Young', 'Middle-aged', 'Old'])
<ipython-input-19-a98b7f029cfc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hours_per_week_bin'] = pd.cut(data['hours_per_week'], bins=[0, 20, 40, 60, 100], labels=['Part-time', 'Full-time', 'Overtime', 'Extensive'])

**Rationale behind their creation:**

**age_bin**: Categorizes age into groups (Young, Middle-aged, Old), which might be more informative for the model than raw age values.  
**hours_per_week_bin**: Groups the hours worked per week into categories, which could capture differences in work patterns.

**Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.**

In [ ]:
# Calculate skewness for each numerical feature
skewness = data[num_features].skew()
print(skewness)

age                0.557663
fnlwgt             1.447703
education_num     -0.309500
capital_gain      11.949403
capital_loss       4.592702
hours_per_week     0.228759
dtype: float64

Log transformation is applied to reduce the skewness of data, which can help in making the data more normally distributed and improve model performance.Among all the features capital_gain feature has highly skewed data so lets transform it

In [ ]:

#Applying log transformation to 'capital_gain'
data['capital_gain_log'] = np.log1p(data['capital_gain'])

# Check distribution of the original and transformed feature
print(data[['capital_gain', 'capital_gain_log']].describe())

       capital_gain  capital_gain_log
count  32537.000000      32537.000000
mean    1078.443741          0.735163
std     7387.957424          2.455562
min        0.000000          0.000000
25%        0.000000          0.000000
50%        0.000000          0.000000
75%        0.000000          0.000000
max    99999.000000         11.512925

<ipython-input-21-b73f6656cd70>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['capital_gain_log'] = np.log1p(data['capital_gain'])

## **Feature Selection:**

**Use the Isolation Forest algorithm to identify and remove outliers. Discuss how outliers can affect model performance**

In [ ]:
from sklearn.ensemble import IsolationForest

# Fit Isolation Forest
iso_forest = IsolationForest(contamination=0.01, random_state=42)
outliers = iso_forest.fit_predict(data[num_features])

# Add the outliers as a feature and filter them out
data['outlier'] = outliers
df_clean = data[data['outlier'] != -1]

# Display the dataset after removing outliers
print(df_clean.head())

   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship  race      sex  capital_gain  capital_loss  \
0           1             1     4     Male          2174             0
1           4             0     4     Male             0             0
2           6             1     4     Male             0             0
3           6             0     2     Male             0             0
4          10             5     2   Female             0             0

   hours_per_week  native_country  income      age_bin hours_per_week_bin  \
0              40              39   <=50K  Middle-aged          Full-time
1              13              39   <=50K  Middle-aged          Part-time
2              40              39   <=50K  Middle-aged          Full-time
3              40              39   <=50K          Old          Full-time
4              40               5   <=50K        Young          Full-time

   capital_gain_log  outlier
0          7.684784        1
1          0.000000        1
2          0.000000        1
3          0.000000        1
4          0.000000        1

<ipython-input-22-c80766d25f1f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['outlier'] = outliers

Outliers can significantly skew the results of some machine learning models, especially those sensitive to extreme values. Removing outliers can improve model accuracy and generalizability.

**Apply the Predictive Power Score (PPS) to Find and Discuss Relationships Between Features:**

In [ ]:
!pip install ppscore

Requirement already satisfied: ppscore in /usr/local/lib/python3.10/dist-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.6.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2024.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.17.0)

In [ ]:
import ppscore as pps

# Calculate PPS for the entire dataset
pps_matrix = pps.matrix(df_clean)
print(pps_matrix)

# Compare with correlation matrix
correlation_matrix = df_clean.corr()
print(correlation_matrix)

           x                   y       ppscore            case  \
0        age                 age  1.000000e+00  predict_itself
1        age           workclass  0.000000e+00      regression
2        age              fnlwgt  0.000000e+00      regression
3        age           education  0.000000e+00      regression
4        age       education_num  0.000000e+00      regression
..       ...                 ...           ...             ...
356  outlier              income  1.297292e-07  classification
357  outlier             age_bin  0.000000e+00  classification
358  outlier  hours_per_week_bin  1.077216e-07  classification
359  outlier    capital_gain_log  0.000000e+00      regression
360  outlier             outlier  1.000000e+00  predict_itself

     is_valid_score               metric  baseline_score   model_score  \
0              True                 None        0.000000      1.000000
1              True  mean absolute error        0.745600      0.879639
2              True  mean absolute error    76284.165200  77724.872095
3              True  mean absolute error        2.712800      2.757341
4              True  mean absolute error        1.865600      1.893476
..              ...                  ...             ...           ...
356            True          weighted F1        0.663688      0.663688
357            True          weighted F1        0.376600      0.312439
358            True          weighted F1        0.480272      0.480272
359            True  mean absolute error        0.652303      1.205890
360            True                 None        0.000000      1.000000

                        model
0                        None
1     DecisionTreeRegressor()
2     DecisionTreeRegressor()
3     DecisionTreeRegressor()
4     DecisionTreeRegressor()
..                        ...
356  DecisionTreeClassifier()
357  DecisionTreeClassifier()
358  DecisionTreeClassifier()
359   DecisionTreeRegressor()
360                      None

[361 rows x 9 columns]
                       age  workclass    fnlwgt  education  education_num  \
age               1.000000   0.002148 -0.077185  -0.011181       0.029816
workclass         0.002148   1.000000 -0.018175   0.022505       0.048758
fnlwgt           -0.077185  -0.018175  1.000000  -0.029106      -0.045326
education        -0.011181   0.022505 -0.029106   1.000000       0.357695
education_num     0.029816   0.048758 -0.045326   0.357695       1.000000
marital_status   -0.270267  -0.063676  0.029563  -0.037837      -0.066816
occupation       -0.020980   0.253311  0.000406  -0.022448       0.107695
relationship     -0.262562  -0.090421  0.009357  -0.009631      -0.091224
race              0.027580   0.049166 -0.022197   0.014918       0.031443
capital_gain      0.111064   0.031626 -0.009187   0.027471       0.145716
capital_loss      0.033653   0.005441 -0.016251   0.020191       0.080835
hours_per_week    0.069247   0.138189 -0.021838   0.055426       0.144755
native_country   -0.000131  -0.007878 -0.053251   0.063278       0.049274
capital_gain_log  0.113590   0.017407 -0.006810   0.019299       0.109281
outlier                NaN        NaN       NaN        NaN            NaN

                  marital_status  occupation  relationship      race  \
age                    -0.270267   -0.020980     -0.262562  0.027580
workclass              -0.063676    0.253311     -0.090421  0.049166
fnlwgt                  0.029563    0.000406      0.009357 -0.022197
education              -0.037837   -0.022448     -0.009631  0.014918
education_num          -0.066816    0.107695     -0.091224  0.031443
marital_status          1.000000   -0.009013      0.185421 -0.067414
occupation             -0.009013    1.000000     -0.075230  0.007277
relationship            0.185421   -0.075230      1.000000 -0.115761
race                   -0.067414    0.007277     -0.115761  1.000000
capital_gain           -0.062957    0.022677     -0.072902  0.021725
capital_loss           -0.033453    0.017141     -0.056385  0.016892
hours_per_week         -0.190156    0.077283     -0.248225  0.041728
native_country         -0.023078   -0.012504     -0.005298  0.136172
capital_gain_log       -0.063563    0.015525     -0.076881  0.023842
outlier                      NaN         NaN           NaN       NaN

                  capital_gain  capital_loss  hours_per_week  native_country  \
age                   0.111064      0.033653        0.069247       -0.000131
workclass             0.031626      0.005441        0.138189       -0.007878
fnlwgt               -0.009187     -0.016251       -0.021838       -0.053251
education             0.027471      0.020191        0.055426        0.063278
education_num         0.145716      0.080835        0.144755        0.049274
marital_status       -0.062957     -0.033453       -0.190156       -0.023078
occupation            0.022677      0.017141        0.077283       -0.012504
relationship         -0.072902     -0.056385       -0.248225       -0.005298
race                  0.021725      0.016892        0.041728        0.136172
capital_gain          1.000000     -0.048509        0.087522        0.008485
capital_loss         -0.048509      1.000000        0.042613        0.002898
hours_per_week        0.087522      0.042613        1.000000       -0.001283
native_country        0.008485      0.002898       -0.001283        1.000000
capital_gain_log      0.843831     -0.060577        0.072766        0.007881
outlier                    NaN           NaN             NaN             NaN

                  capital_gain_log  outlier
age                       0.113590      NaN
workclass                 0.017407      NaN
fnlwgt                   -0.006810      NaN
education                 0.019299      NaN
education_num             0.109281      NaN
marital_status           -0.063563      NaN
occupation                0.015525      NaN
relationship             -0.076881      NaN
race                      0.023842      NaN
capital_gain              0.843831      NaN
capital_loss             -0.060577      NaN
hours_per_week            0.072766      NaN
native_country            0.007881      NaN
capital_gain_log          1.000000      NaN
outlier                        NaN      NaN

<ipython-input-24-3f6cc50e184a>:8: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df_clean.corr()

PPS can capture non-linear relationships that a standard correlation matrix might miss, providing a more comprehensive view of feature interactions

This process equips you with practical experience in preparing data for machine learning models, which is crucial for building accurate and efficient models.